/* 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */


body{
    background: linear-gradient(135deg,#f0f4ff,#e6f7ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container{
    background: #fff;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 400px;
    /* text-align: center; */
}

input[type="text"]{
    width: 65%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

input[type="text"]:focus{
    border-color: #007bff;
    box-shadow: 0 0 4px #007bff50;
}


.btn{
    color:white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    margin-left:8px;
    transition: 0.3s;
}
.btn:hover{
    opacity: 0.6;
}
.add-item{
    background-color: #007bff;
}

.edit{
    background-color: #007bff;
}
.delete{
    background-color: #dc3545;
}

ul{
    list-style-type:none;
    padding-left: 0;
    margin-top: 25px;
}
li{
    background: #f7f9fc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color:#333;
}
li:hover{
    background: #e9f1ff;
}


li button {
    margin-left: 8px;
}


dialog{
    border: none;
    width: 320px;
    padding: 20px 25px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
    flex-direction: column;
    border-radius: 15px;
}

dialog #save{
    background-color: #3b82f6;
    font-weight: 600;
}

dialog div{
    margin-top: 10px;
}



dialog #cancel{
    background-color: #e5e7eb;
    color: #374151;
    font-weight: 600;
}


dialog::backdrop{
    background:rgba(0,0,0,0.3);
}


#show{
    color: red;
}

#hide{
    display: none;
}